*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/.idea/other.xml
/.kotlin/sessions/kotlin-compiler-15725687320733259471.salive
/.kotlin/sessions/kotlin-compiler-16615792401630465137.salive
